<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Hello World welcome to ejs</h1>
    <form action="/get-form-data" method="post">  
        <input type="text" name="name" placeholder="enter your name">
        <input type="text" name="email" placeholder="enter your email">
        <input type="password" name="password" placeholder="enter your password">
        <input type="submit" value="Submit">
<script src="/scripts/script.js"></script>        
</body>
</html>